<!-- wp:group {"tagName":"header","layout":{"inherit":true,"type":"constrained","contentSize":"100%"}} -->
<header class="wp-block-group"><!-- wp:site-title /-->

<!-- wp:site-tagline /--></header>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Blog"},"className":"nfd-container nfd-p-lg  nfd-wb-blog__blog-9 is-style-nfd-theme-white","style":{"border":{"color":"#abb8c3","radius":"10px"}},"layout":{"type":"constrained"},"nfdGroupTheme":""} -->
<div class="nfd-container nfd-p-lg  nfd-wb-blog__blog-9 is-style-nfd-theme-white wp-block-group has-border-color" style="border-color:#abb8c3;border-radius:10px"><!-- wp:query {"queryId":70,"query":{"perPage":"4","pages":"0","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"className":"nfd-query-loop-3"} -->
<div class="nfd-query-loop-3 wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:post-title {"level":3,"isLink":true,"className":"nfd-text-md nfd-text-contrast","style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} /-->

<!-- wp:cover {"useFeaturedImage":true,"customOverlayColor":"#8a8ca6","isUserOverlayColor":false,"minHeight":221,"minHeightUnit":"px","customGradient":"linear-gradient(180deg,rgba(0,0,0,0.06) 80%,rgb(255,255,255) 80%)","contentPosition":"top left","isDark":false,"className":"nfd-stretch-cover-child","style":{"spacing":{"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}}},"layout":{"type":"constrained"}} -->
<div class="nfd-stretch-cover-child wp-block-cover is-light has-custom-content-position is-position-top-left" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;min-height:221px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim has-background-gradient" style="background-color:#8a8ca6;background:linear-gradient(180deg,rgba(0,0,0,0.06) 80%,rgb(255,255,255) 80%)"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"dimensions":{"minHeight":"100%"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"left"}} -->
<div class="wp-block-group" style="min-height:100%"><!-- wp:post-author {"textAlign":"left","style":{"layout":{"selfStretch":"fit","flexSize":null}},"textColor":"secondary-foreground"} /-->

<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"},":hover":{"color":{"text":"var:preset|color|black"}}}}}} /-->

<!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"nfd-h-full nfd-rounded-sm nfd-shadow-xs nfd-overflow-hidden is-style-nfd-theme-white","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"border":{"width":"1px"}},"layout":{"type":"constrained"},"nfdGroupTheme":"white","nfdGroupEffect":""} -->
<div class="nfd-h-full nfd-rounded-sm nfd-shadow-xs nfd-overflow-hidden is-style-nfd-theme-white wp-block-group" style="border-width:1px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"5%","left":"5%"}}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group" style="padding-right:5%;padding-left:5%"><!-- wp:group {"layout":{"inherit":true,"type":"constrained","contentSize":"100%"}} -->
<div class="wp-block-group"><!-- wp:post-title /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true,"contentSize":"100%"}} /--></main>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->