<!-- wp:group {"metadata":{"name":"Blog"},"className":"nfd-container nfd-p-lg nfd-wb-blog__blog-7 is-style-nfd-theme-white","layout":{"type":"constrained"},"nfdGroupTheme":"","nfdGroupEffect":"grid-2"} -->
<div class="nfd-container nfd-p-lg nfd-wb-blog__blog-7 is-style-nfd-theme-white wp-block-group nfd-bg-effect-grid-2"><!-- wp:query {"queryId":14,"query":{"perPage":"4","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false}} -->
<div class="wp-block-query"><!-- wp:post-template {"className":"nfd-gap-xl","layout":{"type":"grid","columnCount":3}} -->
<!-- wp:post-title {"level":3,"isLink":true,"className":"nfd-text-md nfd-text-contrast nfd-text-balance","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}}} /-->

<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","height":"","style":{"spacing":{"margin":{"bottom":"24px"}}}} /-->

<!-- wp:group {"className":"nfd-text-sm nfd-text-faded","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="nfd-text-sm nfd-text-faded wp-block-group"><!-- wp:post-terms {"term":"category","separator":" · ","className":"nfd-text-faded"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->