<!-- wp:template-part {"slug":"365-evergreen-header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"25px","left":"25px"}}}} -->
<main class="wp-block-group" style="padding-right:25px;padding-left:25px"><!-- wp:group {"layout":{"inherit":true,"type":"constrained","contentSize":"100%"}} -->
<div class="wp-block-group"><!-- wp:post-title /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"aspectRatio":"16/9","width":"100%","height":"350px","scale":"contain"} /-->

<!-- wp:post-content {"layout":{"inherit":true,"contentSize":"100%"}} /--></main>
<!-- /wp:group -->

<!-- wp:jetpack/related-posts {"displayThumbnails":true,"style":{"spacing":{"padding":{"right":"25px","left":"25px"}}}} -->
<div class="wp-block-jetpack-related-posts" style="padding-right:25px;padding-left:25px"><!-- wp:heading {"placeholder":"Add a headline"} -->
<h2 class="wp-block-heading"></h2>
<!-- /wp:heading --></div>
<!-- /wp:jetpack/related-posts -->